@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="center-block" style="width:400px;">
        <img src="~/Images/Maintenance.png" alt="maintenance" />
    <br />
        <h2 class="text-danger">We are updating the system now, please feel free to try later</h2>
        <a href="/" class="btn btn-primary text-center">Try again</a>
</div>



