@using ica.website.Domain;
@model WebCarousel
<div class="modal fade" id=@Html.Raw("ModalDelete" + Model.Id) tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure to delete ?</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.IndicateHeader)
            </div>
            <div class="modal-footer">
                <button type="button" data-id=@Model.Id onclick="Delete(this)" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <script>
        function Delete(e) {
            var id = $(e).attr("data-id");
            var requrl = "/WebCarousel/_Delete/" + id;
            $.ajax({
                type: "POST",
                dataType: 'json',
                cashe: false,
                url: requrl,
                success: function (data) {
                    //alert(data);
                    if (data == "fail") {
                        alert("Failed to change data, please try later.");
                        return;
                    }
                    $("#ModalDelete" + id).modal('hide');
                    //$("#item" + id).hide();
                    var row = $("#ModalDelete" + id).parent().parent();
                    var content = row.next();
                    row.hide();
                    content.hide();
                },
                error: function (failure) {
                    alert(failure.responseText);
                }
            });
        }
    </script>
